{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
   
        <div class="col-12 text-center blockTitleHomepage mb-5">
            <div>
                <h1 class="homepageTitle titleCard text-center text-light pt-3">Bienvenue sur le site SnowTricks !</h1>
            </div>
        </div>
<iframe width="300" height="300" src="https://www.dailymotion.com/embed/video/x88hleb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% for trick in tricks %} 
            {% if trick.id is divisible by(2) %}
            <br>
                <div class="card mb-3 ms-5" style="max-width: 70%">
                <div class="row g-0 text-center shadow">
                    <div class="col-md-6 m-auto">
                    <img src="{{asset('images/snowHomepage.jpg')}}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-6 m-auto">
                    <div class="card-body">
                        <h5 class="card-title titleCard">{{trick.name | upper}}</h5>
                        <br>
                        <p class="card-text">{{trick.description | capitalize}}</p>
                        <p class="card-text"><small class="text-muted">Ce trick appartient à la catégorie : {{trick.category}}</small></p>
                        <a href="{{path('trick', {"id" : trick.id})}}" class="btn btn-secondary">En savoir plus </a>
                    </div>
                    </div>
                </div>
                </div>
                <br>
            {% else %}
                <br>
                <div class="card ms-auto mb-3 me-5" style="max-width: 70%">
                <div class="row g-0 text-center shadow">
                    <div class="col-md-6 m-auto">
                    <div class="card-body">
                        <h5 class="card-title titleCard">{{trick.name | upper }}</h5>
                        <br>
                        <p class="card-text">{{trick.description | capitalize}}</p>
                        <p class="card-text"><small class="text-muted">Ce trick appartient à la catégorie : {{trick.category}}</small></p>
                        <a href="{{path('trick', {"id" : trick.id})}}" class="btn btn-secondary">En savoir plus </a>
                    </div>
                    </div>
                    <div class="col-md-6 m-auto ">
                    <img src="{{asset('images/snowHomepage.jpg')}}" class="img-fluid rounded-end" alt="...">
                    </div>
                </div>
                </div>
                <br>
            {% endif %}
        {% endfor %}




    

{% endblock %}
