{% extends 'base.html.twig' %}

{% block title %}Espace modification d'informations
{% endblock %}

{% block body %}
{% for message in app.flashes('danger') %}
	<div class="alert alert-danger text-center mt-2">
		{{message}}
	</div>
{% endfor %}
<h1 class='text-center mt-5 titleCard'>Vous êtes actuellement sur la page de creation d'un trick</h1>
<br>
<div class="text-center">
	<a href="{{path('user_space')}}" class="ms-5 mb-4 mt-4 btn btn-outline-secondary bg-light">Retour dans votre espace</a>
</div>
<div class="col-6 m-auto">
	{{form_start(form)}}
	<div class="form-group">
		<div class="mb-3">{{form_row(form.name, {'label': 'Nom du trick :'})}}</div>
		<div class="mb-3">
			<label for="category">Choisissez une catégorie :
			</label>
			<select name="category" id="category" class="bg-secondary text-light rounded p-1 shadow ms-2" required>
				<option selected="selected" value="" disabled>Choississez la catégorie</option>
				<option value="Les grabs">Les grabs</option>
				<option value="Les rotations">Les rotations</option>
				<option value="Les flips">Les flips</option>
				<option value="Les slides">Les slides</option>
				<option value="Les one foot tricks">Les one foot tricks</option>
				<option value="Old school">Old school</option>
			</select>
		</div>
		<div class="mb-3 form-group">{{ form_row(form.description, {'attr': {'class': 'textareaCreateTrick'}}) }}</div>
		<div class="mb-3">{{form_row(form.images, {'label': 'Ajoutez une  ou plusieurs image(s) :'})}}</div>
		<div class="mb-3">{{form_row(form.video, {'label': 'Ajoutez une vidéo youtube uniquement (mettez l\'url) :'})}}</div>
</div>
    <div class="text-center">
        <button class="btn btn-lg btn-primary mt-3 ms-3" type="submit">
            Soumettre
        </button>
    </div>

{{form_end(form)}}
</div>
<br>
<br>
{% endblock %}
