{% extends 'base.html.twig' %}

{% block title %}Page d'oubli du mot de passe
{% endblock %}

{% block body %}
	{% for message in app.flashes('emailSent') %}
		<div class="alert alert-success text-center">
			{{message}}
		</div>
	{% endfor %}
	<h1 class="mb-4 mt-4 text-center">Mot de passe oublié ?</h1>
	<div class="text-center">
		<p class="text-decoration-underline"><img src="{{asset('images/logo.png')}}" width="100vw" alt="">- SnowTricks -</p>
	</div>
	<p class="col-4 m-auto text-center mb-3">Saisissez l'adresse mail associée à votre compte Snowtricks.
		Nous allons envoyer à cette adresse un lien vous permettant de réinitialiser facilement votre mot de passe.</p>
	<div class="col-6 m-auto">
		{{form_start(form)}}
		<div class="mb-3 ">{{form_row(form.email, {'label': 'Votre email :'})}}</div>
		<div class="text-center">
			<button class="btn btn-lg btn-primary mt-3 ms-3" type="submit">
				Réinitialiser le mot de passe
			</button>
		</div>
		{{form_end(form)}}
	</div>
{% endblock %}
