{% extends 'base.html.twig' %}

{% block title %}Espace administrateur
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5 titleCard">Bienvenue sur la page de modification des tricks</h1>
	<br>
	<div class="text-center">
		<a href="{{path('admin_space')}}" class="mb-4 me-2 btn btn-outline-info bg-light">Retour dans votre espace admin</a>
		<a href="{{path('user_space')}}" class="ms-5 mb-4 btn btn-outline-secondary bg-light">Retour dans votre espace</a>
	</div>
	{% for message in app.flashes('warning') %}
		<div class="alert alert-danger text-center mt-2">
			{{message}}
		</div>
	{% endfor %}
	<br>
	<div class="row justify-content-md-center">
		{% for trick in tricks %}
			<div class="col-sm-5 mb-4 text-center">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title titleCard">{{trick.name | capitalize}}</h5>
						<p class="card-text">{{trick.description}}</p>
						<a href="{{path('user_modify_trick', {"id" : trick.id})}}" class="btn btn-info"><img src="{{asset('images/edit.png')}}" alt="" width="30px" class="me-2">
							Modifier ou supprimer ce trick</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

{% endblock %}
